@import '../mixins.module.scss';

.page_header {
  .navigation,
  .header_top {
    padding: 1.5rem 2rem;
    @include tablet {
      padding: 1.5rem 7.8rem;
    }
  }
  .user_actions {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  .logo {
    h1 {
      font-size: 1.4rem;
      margin: 0rem;
      font-family: 'Proxima Nova', sans-serif;
    }
  }
  .search {
    border: 0.1rem solid #e4e4e4;
    background: #f5f5f5;
    input {
      border: none;
    }
    input::placeholder {
      color: #919191;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}
