// MEDIA QUERIES PER SCREEN SIZE

@mixin phones {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin largephone {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1040px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1370px) {
    @content;
  }
}

@mixin section_container_style {
  border-radius: 1.6rem;
  background: #fff;
  /* Low shadow */
  box-shadow: 0rem 0.4rem 0.8rem 0rem rgba(0, 0, 0, 0.02);
  padding: 1.6rem 2.2rem;
}
